* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nanum Gothic', sans-serif;
}
/* rgba(0, 89, 255, 0.11) */

.header{
    /* background: linear-gradient(to right bottom, #A5DCEE, #4EBCE6); */
    background: linear-gradient(to right bottom, rgba(196, 200, 201,0.2), rgba(77, 78, 78, 0.6));
    position: relative;
    height: 95vh;
    margin:1.5%;
}

.main{
    position: relative;
    height: 100vh;
    background-image: url(../images/workspace.jpg);
    clip-path: polygon(0 0, 100% 0, 100% 95%, 21% 63%);
    background-size: cover;
}

.welcome-text{
  /* background-color: rgba(185, 198, 223, 0.349); */
  height: 30vh; 
  position: absolute;
  bottom:12%;
  left: 2%;
}

.hello{
    font-size: 70px;
    color:rgb(245, 73, 43);
}
.presentation{
    font-size: 30px;
    color: rgb(25, 162, 204);
    margin-top: 80px;;
}


